@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Skranji|Spicy+Rice|Indie+Flower|Viga|Noto+Sans|Gochi+Hand|Vidaloka|Mukta|Permanent+Marker');

/*****            NAVBAR                          **********/

.nav-bg {
    background-color: #ffb30f;
}

.mk-navitem {
    font-family: 'Spicy Rice', cursive;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}

.mk-navitem:hover {
    background-color: #ff0101;
}

.mk-navbar {
    display: flex;
    flex-wrap: wrap;
    /* will change to row at media breakpoints */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.mk-navbar-div {
    /* fix for colour not stretching the full width of the container */
    padding: 0;
    display: flex;
}

.mk-navlink {
    color: #ff0101;
    display: inherit;
    /*same color as the logo image */
}

.mk-navlink:hover {
    color: #ffb30f;
    text-decoration: none;
}

.logo-link {
    display: flex;
    justify-content: center;
}

.monkees-logo {

    height: 100px;

}

/*****               END NAVBAR                       **********/

/*****            FOOTER                          **********/

.social-media-icon {
    margin: 20px;
    color: white;
    background-color: #ff0101;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
    text-align: center;
    border: 1px solid;
}

.social-media-icon:hover {

    border: 1px black solid;
}

.facebook-icon {
    background-color: #4267B2;
    border-color: #4267B2;
}

.twitter-icon {
    background-color: #00ACEE;
    border-color: #00ACEE;
}

.youtube-icon {
    background-color: #ED3833;
    border-color: #ED3833;
}

.footer-bg {
    background-color: #ffb30f;
    min-height: 30px;
}

/*****               END FOOTER                       **********/

/*****            INDEX                          **********/

.main-background {

    background-image: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/monkees.jpg");
    background-color: darkgrey;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

.home-header {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: #ffb30f;
    text-shadow: 2px 2px #1e1e1e;
}

.home-video {}


/*****               END INDEX                       **********/

/*****            ABOUT                          **********/

.about-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/profile.jpg");
    background-color: darkgrey;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

.about-header {
    color: #ffb30f;
    font-family: 'Spicy Rice', cursive;
    padding-top: 2em;
    padding-bottom: 1em;
    
}

.member-header {
    color: #ffb30f;
    font-family: 'Spicy Rice', cursive;
}

.about-text {
    color: #ffb30f;
    font-family: 'Noto Sans', cursive;
    font-size: 1.4em;
    padding-bottom: 1.5em;
}

/*****               END ABOUT                       **********/

/*****            MUSIC                          **********/

.music-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/red-shirt.jpg");
    background-color: darkgrey;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

/*****               END MUSIC                       **********/

/*****            CONTACT                          **********/

.contact-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../images/director.jpg");
    background-color: darkgrey;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

/*****               END CONTACT                       **********/

/*****            MEDIA QUERIES                          **********/

@media (min-width: 767px) {
    .mk-navitem {
        height: 50%;
        width: 50%;
    }

    .mk-navlink {
        height: 100%;
    }

    .mk-navbar {
        flex-direction: row;
    }
}

@media (min-width: 992px) {

    .mk-navitem {
        width: 25%;
        height: 100%;
        font-size: 2.5em;
    }

    .mk-navlink {
        height: 100%;
        /* centres the link vertically */
        line-height: 2.5em;
    }
}

/*****               END MEDIA QUERIES                       **********/
