@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Skranji|Spicy+Rice');

nav {
    background-color: lightgrey;
}

.mk-navitem {
    font-family: 'Spicy Rice', cursive;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}



.mk-navitem:hover {
    background-color: #ff0101;
}

.mk-navbar {
    display: flex;
    flex-wrap: wrap;
    /* will change to row at media breakpoints */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.mk-navbar-div {
    /* fix for colour not stretching the full width of the container */
    padding: 0;
    display: flex;
}

.mk-navlink {
    color: #ff0101;
    display: inherit;
    /*same color as the logo image */
}

.mk-navlink:hover {
    color: lightgrey;
    text-decoration: none;
}

.logo-link {
    display: flex;
    justify-content: center;
}

.social-media-icon {
    margin: 20px;
    color: white;
    background-color: #ff0101;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
    text-align: center;
}

.social-media-icon:hover {

    border: 1px black solid;
}

.facebook-icon {
    background-color: #4267B2;
}

.twitter-icon {
    background-color: #00ACEE;
}

.youtube-icon {
    background-color: #ED3833;
}

.main-background {
    
    background-image: url("../images/monkees.jpg");
    background-color: darkgrey;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-header {
    
}

.main-video {
    
}

footer {
    background-color: darkgrey;
    min-height: 30px;
}

.monkees-logo {

    height: 100px;
    background-color: lightgrey;
    
}

@media (min-width: 767px) {
    .mk-navitem {
        height: 50%;
        width: 50%;
    }

    .mk-navlink {
        height: 100%;
    }

    .mk-navbar {
        flex-direction: row;
    }
}

@media (min-width: 992px) {

    .mk-navitem {
        width: 25%;
        height: 100%;
        font-size: 2.5em;
    }

    .mk-navlink {
        height: 100%;
        /* centres the link vertically */
        line-height: 2.5em;
    }
}
